<!-- <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
  <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
  <br/>
  <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
  <br/>
  <input type = "submit" value = "submit">

  
</form> -->




<div> 
  <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" > 
    
    
    <input type = "text" class = "fortextbox" name = "firstName" placeholder = "firstName" formControlName = "firstName"> 
    <br/> 
    
    <input type = "text" class = "fortextbox" name = "lastName" placeholder = "lastName" formControlName = "lastName"> 
    <br/> 
    
    <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" formControlName = "emailid"> 
    <br/> 
    
    <input type = "text" class = "fortextbox" name = "phone" placeholder = "phone" formControlName = "phone"> 
    <br/> 
    
    <input type = "text" class = "fortextbox" name = "age" placeholder = "age" formControlName = "age"> 
    <br/> 
    
    <input type = "text" class = "fortextbox" name = "address" placeholder = "address" formControlName = "address"> 
    <br/> 
     
 <input type = "password" class = "fortextbox" name = "city" placeholder = "city" formControlName = "city"> 
     <br/>

     
     <input type = "password" class = "fortextbox" name = "state" placeholder = "state" formControlName = "state"> 
     <br/>

     <input type = "password" class = "fortextbox" name = "gip" placeholder = "gip" formControlName = "gip"> 
     <br/>




     
     <input type = "submit" class = "forsubmit" value = "Log In"> 
  </form>
</div> 
<!-- <p> Email entered is : {{emailid}} </p> -->




<table border="1">
<tr>
<td>firstName</td>
<td>lastName</td>
<td>emailid</td>
<td>phone</td>
<td>age</td>
<td>city</td>
<td>state</td>
<td>gip</td>



</tr>
<tr>
  <td>{{firstName}}</td>
  <td>{{lastName}}</td>
  <td>{{emailid}}</td>
  <td>{{phone}}</td>
  <td>{{age}}</td>
  <td>{{city}}</td>
  <td>{{state}}</td>
  <td>{{gip}}</td> 
  </tr>

</table>




<!-- <table>
<tr>
<td>emailid</td>
<td>password</td>
</tr>

<tr>
  <td>{{emailid.value}}</td>
  <td>{{passwd}</td>
  </tr>
  
</table>  -->
